body {
  font-family: 'Open Sans', sans-serif;
}

.nav-link {
  color: darkslategray;
}

.nav-link:hover {
  color: #7c3350;
}

.nav-link:visited {
  color: darkslategray;
}

.nav-link:active {
    color: #7c3350;
}

.menu-burger-bars {
	background-color: white;
}

.footer {
  background-color: black;
}
